<div>

  <h3>Lista de productos_</h3>
  {{#each categoria}}

    <h5>
      
      <ul>
        <li>
      {{this.name}} <a href="/product/favorites">♡</a>

      <br>
      {{this.description}}
      {{this.supplier.name}}

        </li>
      </ul>
      {{!-- <a href="/books/{{this._id}}/details">{{this.title}}</a> --}}
      {{!-- <a href="/books/{{title}}/details">{{title}}</a> --}}
    </h5>
  {{/each}}

</div>