<div>

  <h3>Lista de productos</h3>
  {{#each categoria}}

    <h5>

      <ul>
        <li>
          <form action="/profile/favorites/{{this._id}}" method="POST">
            {{this.name}}
            <input type="submit" value="♡" />

            <br />
            {{this.description}}
            {{this.supplier.name}}
            <img src={{this.image}} alt="imagen-producto">

          </form>

        </li>
      </ul>

    </h5>
  {{/each}}

</div>