<div>
  <h1>Lista de productos</h1>

<<<<<<< HEAD
  <ul>
    {{#each productList}}
      <li>
        <a href="/product/{{this._id}}/edit">{{this.name}}</a>
        {{this.description}}
        <br />
        {{this.category}}
        {{this.supplier.name}}
      </li>
    {{/each}}
  </ul>
=======
    <ul>
        {{#each productList}}
        <li>
            <a href="/product/{{this._id}}/edit">{{this.name}}</a>
            {{this.description}}
            <br>
            {{this.category}}
            {{this.supplier.name}}
        </li>
        {{/each}}

        <img src="{{productList.image}}" alt="imagen-producto">
    </ul>
>>>>>>> 1e28c041da7d2defd55ef29bf1042c9ca82e5826

</div>