<div>
  <h3>LISTA DE PRODUCTOS</h3>
  {{#each productList}}

    <div class="card" style="width: 15rem;">
      <img src={{this.image}} class="card-img-top" alt="imagen-producto" />
      <div class="card-body">
        <h5 class="card-title"><a
            href="/product/{{this._id}}/edit"
          >{{this.name}}</a></h5>
        <p class="card-text">{{this.description}}</p>
        <p class="card-text"><small
            class="text-muted"
          >{{this.category}}</small></p>
      </div>
    </div>
    <br />

  {{/each}}

</div>